
.navbar-unread{
	width: 8px;
	height: 8px;
	background-color: #E74C3C;
	right: 6px;
	top: 14%;
}

.class-header{
	background-color: #3498db;
	padding: 5px 25px 10px;
	border-radius: 6px;
	color: white;
}
.remove-stu{
	opacity:0;
    margin-right: 20px;
}

tr:hover .remove-stu{
	opacity:1;
}
td{
	position: relative;
}
td .label-danger{
	position: absolute;
	left: 0px;
}

.opacity50{
	opacity: .5;
}
