<div class="modal fade" id="classExceedingDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog modal-sm' style="left: auto">
        <div class='modal-content'>
            <div class='modal-body'>
                <p>
                    <h4>每位老师只能创建5个班级哦！</h4>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">我知道了</button>
            </div>
        </div>
    </div>
</div>
