<div class="modal fade" id="removeStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class='modal-dialog modal-sm' style="left: auto">
        <div class='modal-content'>
            <div class='modal-body'>
                <p><h4>确定要移除学生 {{currentStudent.name}} 吗？</h4></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" data-dismiss="modal" ng-click="removeStudent()">移除</button>
            </div>
        </div>
    </div>
</div>