<div class="modal fade" id="resetPasswordDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class='modal-dialog modal-sm' style="left: auto">
        <div class='modal-content' ng-if="tempObj.resetPasswordProcess==='begin'">
            <div class='modal-body'>
                <p><h4>重置密码会自动将学生的密码设置位当前的用户名【{{currentStudent.username}}】，您要帮学生重置吗？</h4></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="resetStudentPassword()">重置</button>
            </div>
        </div>
        <div class='modal-content' ng-if="tempObj.resetPasswordProcess==='success'">
            <div class='modal-body'>
                <p><h4>重置密码成功！</h4></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>